@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Congratulations, you have successfully created an account, and are logged in!</p>
    <p>The code for this demo site can be found on <a href="https://github.com/AnthonyPWatts">my GitHub</a>.</p>
</div>
